html, body {
	font-family: 'Arimo', sans-serif;
	font-size: 18px;
}

li {
	list-style-type: none;
	margin-left: -20px;
}

a:hover {
	text-decoration: none;
}

header {
	box-shadow: 0px 5px 5px grey;
	height: 60px;
	font-size: 20px;
	width: 100%;
}

aside {
	margin: 15px;
}

i{
	font-size: 50px;
}

.bordered {
	border: 2px solid black;
}

.color-primary-0 { 
	background-color: #7D7D7D; 
}

.color-primary-1 {
	color: #E0E0E0;
}

.color-primary-2 {
	color: #999999;
}

.color-primary-3 {
	color: #646464;
}

.color-primary-4 {
	color: #494949;
}

.padding-5px {
	padding: 5px;
}

.padding-questions {
	padding: 15px 5px 5px 20px;
}

.padding-angle {
    padding-top: 11px;
    padding-left: 20px;
}

.height-100per {
	height: 100%;
}

.logo {
	margin: 0px;
}

.search {
	margin-top: 15px;
}

.ask{
	margin-top: 15px;
}

.user_preview {
	margin-top: 0px;
	margin-bottom: 0px;
}

.avatar {
	margin-top: 10px;
	box-shadow: none;
}

.mini-avatar {
	margin-top: 0px;
    box-shadow: none;
    height: 25px;
}

.avatar:hover {
	box-shadow: 0px 2px 2px #3f0009;
}

.all_questions_previews {
	margin: 15px;
	padding: 5px;
}

.all_questions_previews :last-child {
	margin-bottom: 0;
}

.question_preview {
	border: 2px solid black;
	height: 150px;
	margin-bottom: 5px;
}

.question-answer {
	border: 2px solid black;
	margin-bottom: 5px;
	padding: 5px;
}

a > i {
	color: black;
}

a > i:hover {
	color: grey;
}

.tag {
	border: 0px;
    border-radius: 5px;
	padding: 5px;
	margin: 5px;
}

.theme {
    background-color: #7687af2e;
}

.inline-block {
	display: inline-block;
}

.person {
    background-color: #f740a524;
}

.tag:hover {
	box-shadow: 0px 2px 2px #3f0009;
	opacity: 0.9;
	color: black;
}

#red {
	color: red;
}

footer {
	left: 0;
	bottom: 0;
	width: 100%;
}

.width-100-proc {
	width: 100%;
}

.answer {
	border: 2px solid black;
	height: 150px;
	margin-bottom: 5px;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}

.error {
	border-style: solid;
	border-color: red;
	color: red;
}

