{% extends "question/base.html" %}
{% load static %}
{% block content %}
	<main>
		<div class="container"> 
			<div class="row">
				<div class="col-4">
					<h2> New question </h2>
				</div>
				<div class="col-8">
				</div>
			</div>
		</div>
		<div class="container"> 
			<div class="row">
				<div class="col-8 all_questions_previews">
					<form action="#">
						<div class="row">
							<div class="col-2">
								<h5>Title</h5>
							</div>
							<div class="col-10">
								<input class="padding-5px width-100-proc" maxlength="50" type = "text" placeholder="Bash : How to tail latest file in continuous loop">
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-2">
								<h5>Text</h5>
							</div>
							<div class="col-10">
								<textarea class="padding-5px width-100-proc" maxlength="400" rows="15" placeholder="I am trying to write script that monitors log file and on specific error it performs certain function..."></textarea>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-2">
								<h5>Tags</h5>
							</div>
							<div class="col-10">
								<input maxlength="50" class="padding-5px width-100-proc" type = "text" placeholder="Bash, C++, Go">
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-2">
							</div>
							<div class="col-10">
								<input type = "submit" name = "Ask" value = "Ask!">
							</div>
						</div>
						<br>
					</form>
					<br>
				</div>
{% endblock %}
