{% extends "question/base.html" %}
{% load static %}
{% block content %}
	<main>
		<div class="container"> 
			<div class="row">
				<div class="col-4">
					<h2> Log in </h2>
				</div>
				<div class="col-8">
				</div>
			</div>
		</div>
		<div class="container"> 
			<div class="row">
				<div class="col-8 all_questions_previews">
					<form action="#">
						<div class="row">
							<div class="col-2">
								<h5>Login</h5>
							</div>
							<div class="col-10">
								<input pattern = "^[a-zA-Z]+$" name = "login" class="padding-5px width-100-proc error" maxlength="50" type = "text" placeholder="schreds">
								 <br>  <br> 
								<span style="color: red"> <h5> User not found !!!</h5> </span>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-2">
								<h5>Password</h5>
							</div>
							<div class="col-10">
								<input name = "password" class = "padding-5px width-100-proc" maxlength="50" type = "password" placeholder="******">
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-2">
							</div>
							<div class="col-10">
								<input type = "submit" name = "save" value = "Log in!">
								<br>
								<br>
								<a href="registration.html"><h5> Don't have an account yet? Create one! </h5></a>
							</div>
						</div>
						<br>
					</form>
					<br>
				</div>
{% endblock %}
