{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AskGleensande</title>
	<link href="{% static "/css/bootstrap.min.css" %}" rel="stylesheet">
	<link href="{% static "/css/style.css" %}" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" intagrity = "sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin = "anonymous">
	<link rel="shortcut icon" type="image/png" href="{% static "img/favicon.ico" %}"/>
  </head>
  <body>
    <script src = "{% static "/js/jquery.min.js" %}"> </script>
    <script src = "{% static "/js/bootstrap.min.js" %}"> </script>
    <header>	
		<div class="container"> 
			<div class="row">
				<div class="col-3 logo"> <!--logo-->
					<a href = {% url 'index' %} >
						<img src="{% static "/img/logo.png" %}">
					</a>
				</div>
				<div class="col-6 search"> <!--search-->
					 <form>
						<input class = "col-6" type = "search" name = "q" placeholder="Search something!"> 
						<input class = "button col-2" type = "submit" value = "Search">
						<input class = "button col-2" type = "submit" value="Ask">
					</form>
				</div>
				
				<div class="col-3 user_preview row"> <!--user prewiew-->
					<a href="#">
							<img class="avatar" src="{% static "/img/avatar_preview.png" %}">
					</a>
					<ul>
						<li>
							<span> Surname N. </span>
						</li>
						<li>
							<a href={% url 'settings' %} > settings </a> 
							<a href={% url 'authorisation' %}> out </a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</header>
	<div class="container">
		<div class="col-12"> 
			<hr>
		</div>
	</div>
	{% block content %}
	{% endblock %}
				<aside class="col-3">
					<h3> Popular tags </h3>
					<div class="padding-5px">
						<a href={% url 'found' %} >
							<span class="tag theme inline-block">perl</span> 
						</a>
						<a href={% url 'found' %} >
							<span class="tag theme inline-block">python</span>
						</a>
						<a href={% url 'found' %} >
							<span class="tag theme inline-block">CGI</span>
						</a>
						<a href={% url 'found' %} >
							<span class="tag theme inline-block">go</span>
						</a>
						<a href={% url 'found' %} >
							<span class="tag theme inline-block">TechnoPark</span>
						</a>
						<a href={% url 'found' %} >
							<span class="tag theme inline-block">MySQl</span>
						</a>
						<a href={% url 'found' %} >
							<span class="tag theme inline-block">C</span>
						</a>
						<a href={% url 'found' %} >
							<span class="tag theme inline-block">Django</span>
						</a>
						<a href={% url 'found' %} >
							<span class="tag theme inline-block">Mail.Ru</span>
						</a>
						<a href={% url 'found' %} >
							<span class="tag theme inline-block">C++</span>
						</a>
						<a href={% url 'found' %} >
							<span class="tag theme inline-block">Firefox</span>
						</a>
						<a href={% url 'found' %} >
							<span class="tag theme inline-block">Chrome</span>
						</a>
						<a href={% url 'found' %} >
							<span class="tag theme inline-block">Unix</span>
						</a>
					</div>
					<h3> Best members </h3>
					<div class="padding-5px">
						<a href={% url 'found' %} >
							<span class="person tag inline-block">Brian Kernighan</span> 
						</a>
						<a href={% url 'found' %} >
							<span class="person tag inline-block">Dennis Ritchie</span> 
						</a>
						<a href={% url 'found' %} >
							<span class="person tag inline-block">Bjarne Stroustrup</span> 
						</a>
						<a href={% url 'found' %} >
							<span class="person tag inline-block">Kenneth Thompson</span> 
						</a>
					</div>
				</aside>
			</div>
		</div>
	</main>
	<br>
	<footer class="padding-5px">
		<div class="container"> 
			<div class="row">
				<div class="col-2">
				</div>
				<div class="col-10">
					Created by 
					<a href={% url 'found' %} >
						<span class="tag person">Gleensande</span>
					</a>
					 2018, Moscow
				</div>
			</div>
		</div>
	</footer>
	
  </body>
 </html>
