{% extends "question/base.html" %}
{% load static %}
{% block content %}
	<main>
		<div class="container"> 
			<div class="row">
				<div class="col-4">
					<h2> Found on tag: <span class="tag theme"> bash </div> </h2>
				</div>
				<div class="col-8">
				</div>
			</div>
		</div>
		<div class="container"> 
			<div class="row">
				<div class="col-8 all_questions_previews">
					<div class="question_preview">
						<div class="container">
							<div class="row">
								<div class="col-1 padding-angle">
									<a href="#">
										<i class="fas fa-angle-up"></i>
									</a>
										+ 5
									<a href="#">
										<i class="fas fa-angle-down"></i>
									</a>
								</div>
								<div class="col-11 padding-questions">
									<h5>
										Q: <a href="#"> Bash : How to tail latest file in continuous loop </a>
									</h5>
									I am trying to write script that monitors log file and on specific error it performs certain function...
									<br>
									<div class="container"> 
										<div class="row">
											<div class= "col">
												<a href="#">
													Answers(#)
												</a>
											</div>
											<div class= "col">
												Tags: 
												<a href="#">
													<span class="tag theme">one</span> 
												</a>
												<a href="#">
													<span class="tag theme">one</span>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="question_preview">
						<div class="container">
							<div class="row">
								<div class="col-1 padding-angle">
									<a href="#">
										<i class="fas fa-angle-up"></i>
									</a>
										+ 5
									<a href="#">
										<i class="fas fa-angle-down"></i>
									</a>
								</div>
								<div class="col-11 padding-questions">
									<h5>
										Q: <a href="#"> Bash : How to tail latest file in continuous loop </a>
									</h5>
									I am trying to write script that monitors log file and on specific error it performs certain function...
									<br>
									<div class="container"> 
										<div class="row">
											<div class= "col">
												<a href="#">
													Answers(#)
												</a>
											</div>
											<div class= "col">
												Tags: 
												<a href="#">
													<span class="tag theme">one</span> 
												</a>
												<a href="#">
													<span class="tag theme">one</span>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="question_preview">
						<div class="container">
							<div class="row">
								<div class="col-1 padding-angle">
									<a href="#">
										<i class="fas fa-angle-up"></i>
									</a>
										+ 5
									<a href="#">
										<i class="fas fa-angle-down"></i>
									</a>
								</div>
								<div class="col-11 padding-questions">
									<h5>
										Q: <a href="#"> Bash : How to tail latest file in continuous loop </a>
									</h5>
									I am trying to write script that monitors log file and on specific error it performs certain function...
									<br>
									<div class="container"> 
										<div class="row">
											<div class= "col">
												<a href="#">
													Answers(#)
												</a>
											</div>
											<div class= "col">
												Tags: 
												<a href="#">
													<span class="tag theme">one</span> 
												</a>
												<a href="#">
													<span class="tag theme">one</span>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="question_preview">
						<div class="container">
							<div class="row">
								<div class="col-1 padding-angle">
									<a href="#">
										<i class="fas fa-angle-up"></i>
									</a>
										+ 5
									<a href="#">
										<i class="fas fa-angle-down"></i>
									</a>
								</div>
								<div class="col-11 padding-questions">
									<h5>
										Q: <a href="#"> Bash : How to tail latest file in continuous loop </a>
									</h5>
									I am trying to write script that monitors log file and on specific error it performs certain function...
									<br>
									<div class="container"> 
										<div class="row">
											<div class= "col">
												<a href="#">
													Answers(#)
												</a>
											</div>
											<div class= "col">
												Tags: 
												<a href="#">
													<span class="tag theme">one</span> 
												</a>
												<a href="#">
													<span class="tag theme">one</span>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="question_preview">
						<div class="container">
							<div class="row">
								<div class="col-1 padding-angle">
									<a href="#">
										<i class="fas fa-angle-up"></i>
									</a>
										+ 5
									<a href="#">
										<i class="fas fa-angle-down"></i>
									</a>
								</div>
								<div class="col-11 padding-questions">
									<h5>
										Q: <a href="#"> Bash : How to tail latest file in continuous loop </a>
									</h5>
									I am trying to write script that monitors log file and on specific error it performs certain function...
									<br>
									<div class="container"> 
										<div class="row">
											<div class= "col">
												<a href="#">
													Answers(#)
												</a>
											</div>
											<div class= "col">
												Tags: 
												<a href="#">
													<span class="tag theme">one</span> 
												</a>
												<a href="#">
													<span class="tag theme">one</span>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<br>
					<div class="container">
						<h4>
							<span class="inline-block"> 1 </span>
							<a href="#">
								<span class="inline-block"> 2 </span>
							</a>
							<a href="#">
								<span class="inline-block"> 3 </span>
							</a>
							<a href="#">
								<span class="inline-block"> ... </span>
							</a>
						</h4>
					</div>
				</div>
{% endblock %}
