{% extends "question/base.html" %}
{% load static %}
{% block content %}
	<main>
		<div class="container"> 
			<div class="row">
				<div class="col-4">
					<a href={% url 'index' %}>
						<h2> New questions </h2>
					</a>
				</div>
				<div class="col-4">
					<h2> Hot questions </h2>
				</div>
				<div class="col-4">
				</div>
			</div>
		</div>
		<div class="container"> 
			<div class="row">
				<div class="col-8 all_questions_previews">
					{% block question_previews %}
					{% endblock %}
					<br>
					<div class="container">
						<h4>
							<span class="inline-block"> 1 </span>
							<a href="#">
								<span class="inline-block"> 2 </span>
							</a>
							<a href="#">
								<span class="inline-block"> 3 </span>
							</a>
							<a href="#">
								<span class="inline-block"> ... </span>
							</a>
						</h4>
					</div>
				</div>
{% endblock %}
