{% load static %}
<div class="question-answer">
	<div class="container">
		<div class="row">
			<div class="col-1 padding-angle">
				<a href="#">
					<i class="fas fa-angle-up"></i>
				</a>
				+ {{answer.rating }}
				<a href="#">
					<i class="fas fa-angle-down"></i>
				</a>
			</div>
			<div class="col-11 padding-questions">
				{{ answer.text }}
				<br>
				<div class="container">
					<div class="col-12"> 
						<hr>
					</div>
				</div>
				<br>
				<div class="container padding-5px"> 
					<div class="row">
						<div class= "col">
						</div>
						<div class="col">
							Author:
							<a href="#">
								<img class="mini-avatar" src="{% static "/img/avatar_preview.png" %}">
							</a>
							<a>
								<span class= "col tag person">
									{{ answer.p_key }}
								</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
