{% load static %}
<div class="question-answer">
	<div class="container">
		<div class="row">
			<div class="col-1 padding-angle">
				<a href="#">
					<i class="fas fa-angle-up"></i>
				</a>
				+ {{question.rating }}
				<a href="#">
					<i class="fas fa-angle-down"></i>
				</a>
			</div>
			<div class="col-11 padding-questions">
				<h5>
					Q: <a href={% url 'question' question_key=question.key %} >{{ question.header }}</a>
				</h5>
				{{ question.text }}
				<br>
				<div class="container">
					<div class="col-12"> 
						<hr>
					</div>
				</div>
				<br>
				<div class="container padding-5px"> 
					<div class="row">
						<div class= "col">
							Answers:
							{{ answers_count.pop }}
						</div>
						<div class= "col">
							Tags:
							{% for tag in question.tag.all %}  
								<a href={% url 'found' %}>
									<span class="tag theme">{{ tag }}</span>
								</a>
							{% empty %}
								No tags here
							{% endfor %}
						</div>
						<div class="col">
							Author:
							<a href="#">
								{% comment %} 
									<img class="mini-avatar" src="{{ user.image.url }}"> TODO: edit!
								{% endcomment %}
							</a>
							<a>
								<span class= "col tag person">
									{{ question.p_key }}
								</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
