{% extends "question/base.html" %}
{% load static %}
{% block content %}
	<main>
		<div class="container"> 
			<div class="row">
				<div class="col-8 all_questions_previews">
					{% include "question/one_question.html" %}
					<div class="container">
						<div class="col-12"> 
							<br>
							<hr>
							<br>
						</div>
					</div>
					{% for answer in answers %}
						{% include "question/one_answer.html" %}
					{% empty %}
						This question has no answer now. Be the first!
					{% endfor %}	
					<br>
					<div class="question-answer">
						<div class="container">
							<div class="row">
								<div class="col-12 padding-questions">
									<form action="#">
										<div class="row">
											<div class="col-2">
												<h5>Title</h5>
											</div>
											<div class="col-10">
												<input class="padding-5px width-100-proc" maxlength="50" type = "text" placeholder="You have to try this!">
											</div>
										</div>
										<br>
										<div class="row">
											<div class="col-2">
												<h5>Text</h5>
											</div>
											<div class="col-10">
												<textarea class="padding-5px width-100-proc" maxlength="400" rows="10" placeholder="Have you tried turning it off and on again? "></textarea>
											</div>
										</div> 
										<div class="row">
											<div class="col-2">
											</div>
											<div class="col-10">
												<input type = "submit" name = "answer" value = "Answer!">
											</div>
										</div>
									</form>
									<br>
								</div>
							</div>
						</div>
					</div>
					<br>
				</div>
{% endblock %}
