{% extends "question/base.html" %}
{% load static %}
{% block content %}
	<main>
		<div class="container"> 
			<div class="row">
				<div class="col-4">
					<h2> Settings </h2>
				</div>
				<div class="col-8">
				</div>
			</div>
		</div>
		<div class="container"> 
			<div class="row">
				<div class="col-8 all_questions_previews">
					<form action="#">
						<div class="row">
							<div class="col-2">
								<h5>Login</h5>
							</div>
							<div class="col-10">
								<input pattern = "^[a-zA-Z]+$" name = "login" class="padding-5px width-100-proc" maxlength="50" type = "text" placeholder="schreds">
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-2">
								<h5>Email</h5>
							</div>
							<div class="col-10">
								<input name = "email" class = "padding-5px width-100-proc" maxlength="50" type = "email" placeholder="schreds@mail.ru">
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-2">
								<h5>Name</h5>
							</div>
							<div class="col-10">
								<input pattern = "^[a-zA-Z ]+$" class = "padding-5px width-100-proc" maxlength="50" type = "text" placeholder="Alyssa Schreds">
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-2">
								<h5>Avatar</h5>
							</div>
							<div class="col-10">
								<input type = "file" name = "avatar">
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-2">
							</div>
							<div class="col-10">
								<input type = "submit" name = "save" value = "Save!">
							</div>
						</div>
						<br>
					</form>
					<br>
				</div>
{% endblock %}
